* {
    font-family: 'Rye', cursive;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-image: url('blackjack_bg.png');
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    flex-direction: row;
    background-size: cover;
    height: 100%;
    width: 100%;
}

h1 {
    text-align: center;
    margin:auto;
    grid-column: 2;
    font-size: 100px;
}

audio {
    grid-column: 3;
    grid-row: 3;
}

#leftChar {
    margin: auto;
    grid-column: 1;
    grid-row: 2;
    height: 300px;
    display: flex;
}

#rightChar {
    margin: auto;
    grid-column: 3;
    grid-row: 2;
    height: 300px;
    display: flex;
}

#board {
    background-color: rgb(194, 194, 194);
    grid-column: 2;
    margin: auto;
    margin-top: 50px;
    height: 500px;
    width: 350px;
    border-radius: 10px;
}

#history {
    margin:auto;
    text-align: center;
    background-color: rgb(194, 194, 194);
}

#log{
    font-size: small;
}

#firstPlayerHand, #secondPlayerHand{
    background-color: white;
    height: 100px;
    width: 75px;
    margin:15px 5px 15px 15px;
    display: none;
    text-align: center;
    font-size:large;
    border: solid black;
    border-radius: 10px;
}

#thirdPlayerHand{
    background-color: white;
    height: 100px;
    width: 75px;
    margin:15px 5px 15px 15px;
    display: none;
    text-align: center;
    font-size:large;
    border: solid black;
    border-radius: 10px;
}

#fourthPlayerHand{
    background-color: white;
    height: 100px;
    width: 75px;
    margin:15px 5px 15px 15px;
    display: none;
    text-align: center;
    font-size:large;
    border: solid black;
    border-radius: 10px;
}

#backOfDeck{
    background-image: url('backOfCard.jpeg');
    background-color: white;
    background-size:contain;
    margin: 15px;
    height: 100px;
    width: 75px;
    text-align: center;
    font-size:large;
    border: solid black;
    border-radius: 10px;
}

#mysteryCard{
    background-color: white;
    height: 100px;
    width: 75px;
    margin:15px 15px 15px 5px;
    text-align: center;
    font-size:large;
    border: solid black;
    border-radius: 10px;
}

#computerCard {
    background-color: white;
    height: 100px;
    display: none;
    width: 75px;
    margin:15px 15px 15px 5px;
    text-align: center;
    font-size:large;
    border: solid black;
    border-radius: 10px;
}

#computerBoardSpace {
    background-color: rgb(194, 194, 194);
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 175px;
}

#computerScore {
    background-color: black;
    color:white;
    margin-left: 100px;
    margin-right: 100px;
    height: 50px;
    text-align: center;
    border:solid black;
    border-radius: 10px;
}

#playerBoardSpace {
    background-color: rgb(194, 194, 194);
    height: 165px;
    display: flex;
}

#playerScore {
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
    border:solid black;
    border-radius: 10px;

}

/* ------------- */
/* button styles */
/* ------------- */
button {
    border: none;
    bottom: 0;
    height: 50px;
    width: 114px;
    color: black;
    background-color:white;
}

/* deal button */
.init {
    color: white;
    background-color: #46cc51;
}

.init:hover {
    color: #46cc51;
    background-color: white;
    border: solid #46cc51;
}

/* hit button */
.hitBtnStyle {
    color: white;
    background-color: #46cc51;
}

.hitBtnStyle:hover{
    color: #46cc51;
    background-color: white;
    border: solid #46cc51;
}

/* stand button */
.standBtnStyle {
    color: white;
    background-color: rgb(255, 64, 64);
}

.standBtnStyle:hover{
    color: rgb(255, 64, 64);
    background-color: white;
    border: solid rgb(255, 64, 64);
}

/* inactive button */
.inactive {
    color: white;
    background-color: black;
    pointer-events: none;
}

.active {
    pointer-events: all;
}