* {
    font-family: 'Rye', cursive;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #256060;
    height: 100%;
    width: 100%;
}

#board {
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 200px;
    height: 500px;
    width: 350px;
    border-radius: 10px;
}

#computerBoard {
    background-color: rgb(196, 255, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 175px;
}

#computerScore {
    background-color: rgb(196, 255, 204);
    height: 50px;
    text-align: center;
}

#playerBoard {
    background-color: rgb(255, 249, 196);
    height: 175px;
}

#playerScore {
    background-color: rgb(255, 205, 196);
    height: 50px;
    text-align: center;
}

/* ------------- */
/* button styles */
/* ------------- */
button {
    border: none;
    bottom: 0;
    height: 50px;
    width: 114px;
    color: black;
    background-color:white;
}

/* deal button */
.init {
    color: white;
    background-color: #46cc51;
}

.init:hover {
    color: #46cc51;
    background-color: white;
    border: solid #46cc51;
}

/* hit button */
.hitBtnStyle {
    color: white;
    background-color: #46cc51;
}

.hitBtnStyle:hover{
    color: #46cc51;
    background-color: white;
    border: solid #46cc51;
}

/* stand button */
.standBtnStyle {
    color: white;
    background-color: rgb(255, 64, 64);
}

.standBtnStyle:hover{
    color: rgb(255, 64, 64);
    background-color: white;
    border: solid rgb(255, 64, 64);
}

/* inactive button */
.inactive {
    color: white;
    background-color: black;
    pointer-events: none;
}

.active {
    pointer-events: all;
}