* {
    font-family: 'Rye', cursive;
    box-sizing: border-box;
    margin-top:;
}

body {
    background-color: #256060;
    viewport-fit: 100;
}

#board {
    background-color: rgb(255, 255, 255);
    margin: auto;
    height: 500px;
    width: 350px;
    border-radius: 10px;
}

#computerBoard {
    background-color: rgb(196, 255, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 175px;
}

#computerScore {
    background-color: rgb(196, 255, 204);
    height: 50px;
}

#playerBoard {
    background-color: rgb(255, 249, 196);
    height: 175px;
}

#playerScore {
    background-color: rgb(255, 205, 196);
    height: 50px;
}

button {
    border: none;
    bottom: 0;
    height: 50px;
    width: 114px;
    color: black;
    background-color:white;
}

button:hover {
    transition-duration: 0.3s;
    color: white;
    background-color: black;
}